@mixin clearfix{
	&::after{
		content: '';
		display: block;
		clear: both;
	}
}

@mixin mid-con{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
@mixin container{
	width: 80%;
	margin: auto;
}
